/*
make card look like google fonts card
make form slide out from left

*/

* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', serif;
}

.container {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 5fr;
  margin-left: 15px;
  margin-right: 15px;
  gap: 25px;
}

.titleSection {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 20px;

}

.titleItem {
  display: grid;
  align-content: center;
}

.odinhead {
  background-color: gold;
  padding: 5px;
  border-radius: 50%;
  margin-left: 50px;
}

.greeting {
  line-height: 30px;
  font-size: 30px;
}

#addNewBook {
  background-image: url(./book-plus-outline.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
}

#display {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  align-content: start;
  row-gap: 25px;
  padding-bottom: 70px;
  column-gap: 10px;
}

.libraryBook {
  display: grid;
  height: auto;
  width: minmax(310px);
  height: auto;
  align-content: stretch;
  background-color: orange;
  border-radius: 7px;
  padding-left: 7px;
  grid-template-areas:
    'author pages'
    'title title'
    'read read';
}

.removeBtn {
  background-color: #f2eecb;
  background-image: url(./trash-can-outline.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  height: 34px;
  width: 34px;
  
}

.libraryBookInfo {
  background-color: #f2eecb;
  padding: 10px;
}

.authorDiv {
  grid-area: author;
  font-weight: 300;

}

strong {
  font-size: 18px;
  font-weight: 500;
}

.pagesDiv {
  text-align: end;
  grid-area: pages;
  font-weight: 300;
  font-size: 14px;

}

.titleDiv {
  grid-area: title;
  font-size: 40px;
}

.readDiv {
  display: grid;
  grid-auto-flow: column;
  grid-area: read;
  justify-content: end;
  align-content: end;
  gap: 5px;
}

#addBookForm {
  display: grid;
  position: relative;
  display: none;
  background-color: rgb(240, 248, 255, .9);
  width: 400px;
  border: 1px solid blue;
}


/* SLIDER START https://www.w3schools.com/howto/howto_css_switch.asp */
.readLabel {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.readToggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.readSpan {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .14s;
  border-radius: 34px;
}

.readSpan:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .14s;
  border-radius: 50%;
}

input:checked+.readSpan {
  background-color: #2196F3;
}

input:checked+.readSpan:before {
  transform: translateX(26px);
}
